nav {
    height: auto;
}

.hey {
    background: url(img/background.jpg);
    height: 90vh;
}

.jumbotron-fluid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#fixed {
    height: 70vh;
    background-image: url(img/background.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

{}